
* {
    box-sizing: border-box;
}


body { 
    margin: 0;
    background: #93f0fa;
    height: 100vh;
    width: 100%;
}

.title {
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.how-to-play {
     color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}

.game-info {
  color: #eb3166;
  font-size: 4em;
  text-align: center;
}


