* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #060AB2;
}

.title {
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.how-to-play {
     color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}

body header .game-info {
    position: absolute;
    top:14%;
    left: 3%;
    font-size: 23px;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    border-radius: 4vh;
    text-align: center;
}

.game {
    height: 90vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

@media screen and (min-width: 3737.4375em) {
    .game {width: 600px;
    }
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    height: 22%;
    margin: 1%;
    cursor: pointer;
}

.flip-container.flip .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 23%;
    float: left;
    border-radius: 12px;
}

.flipper {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.06s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    position: relative;
}

.flipper .front, flipper .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-backface-visibility:visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow:#595556;
}

.flipper .front {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
transform: rotateY(0deg);
background: #969696;
}

.flipper .back {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
border: 1px solid #8d99ae;  
}

#dog {
    background: white url("dog.png") no-repeat center;
    background-size: contain;
}

#cat {
    background: white url("cat.png") no-repeat center;
    background-size: contain;
}

#cow {
    background: white url("cow.png") no-repeat center;
    background-size: contain;
}

#lion {
    background: white url("lion.png") no-repeat center;
    background-size: contain;
}

#elephant {
    background: white url("elephant.png") no-repeat center;
    background-size: contain;
}

#fish {
    background: white url("fish.png") no-repeat center;
    background-size: contain;
}

#tiger {
    background: white url("tiger.png") no-repeat center;
    background-size: contain;
}

#bird {
    background: white url("bird.png") no-repeat center;
    background-size: contain;
}
